
#curious {
    height: 50rem;
}

.curious-title{
    padding-top: 100px;
    padding-right: 10% !important;
    padding-left: 10% !important;
}
.curious-title-head{
    font-family: 'Spinnaker', sans-serif;
    font-weight: 400px;
    font-size: 40px;
    margin-top: -40px;
}

.curious-title-para{
    padding-top: 10px;
    font-family: 'Spinnaker', sans-serif;;
    font-weight: 400px;
    font-size: 20px;

}

.img-fluid {
    width: 350px;
    float: left;
    margin-left: 100px;
    margin-top: 30px;
}


/* audio section */

#audio {
    width: 350px;
    height: 100px;
}